@model Faceplant.Core.Models.Session

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Date)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Date)
    @Html.ValidationMessageFor(model => model.Date)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Location)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Location)
    @Html.ValidationMessageFor(model => model.Location)
</div>

<div class="editor-label">
    Tag
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.TagId, ((IEnumerable<Faceplant.Core.Models.Tag>)ViewBag.PossibleTags).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.TagId.ToString(),
        Selected = (Model != null) && (option.TagId == Model.TagId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.TagId)
</div>
<div class="editor-label">
    Speaker
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.SpeakerId, ((IEnumerable<Faceplant.Core.Models.Speaker>)ViewBag.PossibleSpeakers).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.SpeakerId.ToString(),
        Selected = (Model != null) && (option.SpeakerId == Model.SpeakerId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.SpeakerId)
</div>
