@model IEnumerable<Faceplant.Core.Models.Session>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Date
        </th>
        <th>
            Location
        </th>
        <th>
            Tag
        </th>
        <th>
            Responses
        </th>
        <th>
            Speaker
        </th>
        <th>
            Ratings
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@String.Format("{0:g}", item.Date)
        </td>
        <td>
			@item.Location
        </td>
        <td>
			@(item.Tag == null ? "None" : item.Tag.Name)
        </td>
        <td>
			@(item.Responses == null ? "None" : item.Responses.Count.ToString())
        </td>
        <td>
			@(item.Speaker == null ? "None" : item.Speaker.Name)
        </td>
        <td>
			@(item.Ratings == null ? "None" : item.Ratings.Count.ToString())
        </td>
    </tr>
}

</table>


