@inherits System.Web.Mvc.WebViewPage<IEnumerable<RazorLib.Core.Models.Helper>>

@{
	View.Title = "Helpers";
	LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

	<h2>Recent Razor Helpers</h2>
	
	<table>
		<tr>
			<th></th>
			<th>
				Name
			</th>
			<th>
				Description
			</th>
			<th>
				Rating
			</th>
		</tr>

	@foreach (var item in Model) {
	
		<tr>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id= item.Id }) |
				@Html.ActionLink("Details", "Details", new { id= item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id= item.Id })
			</td>
			<td>
				@item.Name
			</td>
			<td>
				@item.Description
			</td>
			<td>
				@String.Format("{0:F}", item.Rating)
			</td>
		</tr>
	
	}

	</table>

	<p>
		@Html.ActionLink("Create New", "Create")
	</p>


