<!DOCTYPE html>
<html>
    <head>
        <title>Silicon Bakery - @PageData["Title"]</title>
        <link rel="shortcut icon" href="@Href("~/favicon.ico")" />
        <link rel="stylesheet" href="@Href("~/Site.css")" type="text/css"/>
        <!--[if IE]>
        <style type="text/css">
        .group {
            zoom: 1;     /* triggers hasLayout */
            }  /* Only IE can see inside the conditional comment
            and read this CSS rule. Don't ever use a normal HTML
            comment inside the CC or it will close prematurely. */
        </style>
        <![endif]-->
        <meta name="description" content="an awesome bakery site. Please come and visit" />
    </head>
    <body>
        <!-- Layout: Header -->
        <div id="header" class="group">
            <ul id="menu" class="group">
                <li>
                    <a href="@Href("~/")">Home</a>
                </li>
                <li>
                    <a href="@Href("~/Products")">Our Products</a>
                </li>
                <li>
                    <a href="@Href("~/About")">About Us</a>
                </li>
            </ul>
        </div>
        <!-- Layout: Body -->
        <div id="main" class="group">
            @RenderBody()
        </div>
        <!-- Layout: Footer -->
        <div id="footer" class="group">
            <ul id="alt-menu">
                <li>&copy;@DateTime.Now.Year - Silicon Bakery</li>
                <li>
                    <a href="@Href("~/")">Home</a>
                </li>
                <li>
                    <a href="@Href("~/Products")">Our Products</a>
                </li>
                <li>
                    <a href="@Href("~/About")">About Us</a>
                </li>        
            <ul>
        </div>
    </body>
</html>