<footer>
	<div class="left" id="footer-left">
			
		<img src="@Url.Content("~/Content/img/logo-small.png")" alt="" class="left" />
			
		<p>&copy; 2009-2011 Carrot Pants Studios. All rights Reserved</p>

		<p class="quiet"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></p>
			
		<div class="clearer">&nbsp;</div>

	</div>

	<div class="right" id="footer-right">

		<p class="large">
            <a href="@Url.Action("Index", "Home")">Home</a> <span class="text-separator">|</span> 
            <a href="@Url.Action("Index", "Sessions")">Sessions</a> <span class="text-separator">|</span> 
            <a href="@Url.Action("Index", "Speakers")">Speakers</a> <span class="text-separator">|</span> 
            <a href="@Url.Action("Index", "Tags")">Topics</a> <span class="text-separator">|</span> <strong>
             <a href="@Url.Action("Register", "Account")">Sign Up!</a></strong> <span class="text-separator">|</span> 
            <a href="#top" class="quiet">Page Top &uarr;</a></p>            
	</div>

	<div class="clearer">&nbsp;</div>
</footer>