@{
    var url = @Request.Url.PathAndQuery;
}

<header>
	<div id="top">

        <hgroup class="left">
            <h1><a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Content/img/QuoteFaces.png")" id="siteLogo" alt="" />
                </a>
            </h1>            
        </hgroup>		
            
        <nav id="main" class="left">
            <ul class="tabbed">
                
                <li @if (url == "/" || url.Contains("Home")) { <text>class="current-tab"</text> }>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
				<li @if (url.Contains("Sessions")) { <text>class="current-tab"</text> }>
                    <a href="@Url.Action("Index", "Sessions")">Sessions</a></li>
				<li @if (url.Contains("Speakers")) { <text>class="current-tab"</text> }>
                    <a href="@Url.Action("Index", "Speakers")">Speakers</a>
                </li>
				<li @if (url.Contains("Tags")) { <text>class="current-tab"</text> }>
                    <a href="@Url.Action("Index", "Tags")">Topics</a>
                </li>
				<li @if (url.Contains("Account")) { <text>class="current-tab"</text> }>
                    <a href="@Url.Action("Register", "Account")">Sign Up!</a>
                </li>
			</ul>
			<div class="clearer">&nbsp;</div>
        </nav>

		<div class="clearer">&nbsp;</div>
	</div>
</header>