<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="A simple website for interacting with speakers during their talks" />
    <meta name="keywords" content="faceplant, speaking, social" />
    <meta name="author" content="Brandon Satrom" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />

    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.gritter1.6.1.0.css")" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
        
</head>

<body>
    <div id="teaser"></div>
    <div id="site-wrapper">
        @RenderPage("_Header.cshtml")        
        <div id="notice"></div>
        @RenderBody() 
        @RenderPage("_Footer.cshtml")    
    </div>

    <script src="@Url.Content("~/Scripts/jquery.ie9ify.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.gritter.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.qtip-1.0.0-rc3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts.js")" type="text/javascript"></script>     
    @RenderSection("Scripts", required: false)   
</body>
</html>
