@model Faceplant.Core.Models.Speaker

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@RenderPage("_CreateOrEdit.cshtml", new Faceplant.Core.Models.Speaker())

@section Scripts{
<script src="@Url.Content("~/Scripts/jQuery.tmpl.min.js")"></script>
<script src="@Url.Content("~/Scripts/knockout-1.2.1.js")"></script>
<script src="@Url.Content("~/Scripts/ko.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/Speakers/addSpeaker.js")"></script>
}