@model Faceplant.Core.Models.Speaker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Speaker</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Email</div>
    <div class="display-field">@Model.Email</div>

    <div class="display-label">State</div>
    <div class="display-field">@Model.State</div>
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SpeakerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


