@model Faceplant.Core.Models.Speaker

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@RenderPage("_CreateOrEdit.cshtml", Model)
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
<script src="@Url.Content("~/Scripts/jQuery.tmpl.min.js")"></script>
<script src="@Url.Content("~/Scripts/knockout-1.2.1.js")"></script>
<script src="@Url.Content("~/Scripts/ko.unobtrusive.min.js")"></script>
<script>
    window.speakerForm = {
        speakerId: '@Model.SpeakerId',
        name: '@Model.Name',
        email: '@Model.Email',
        bio: '@Model.Bio',
        twitterHandle: '@Model.TwitterHandle',
        state: '@Model.State',
        photoUrl: '@Model.PhotoUrl'
     };
</script>
<script src="@Url.Content("~/Scripts/Speakers/editSpeaker.js")"></script>
}