@model IList<Faceplant.Core.Models.Speaker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            State
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpeakerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpeakerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpeakerId })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Email
        </td>
        <td>
			@item.State
        </td>
    </tr>
}

</table>


